@charset "utf-8";
.pc-none,
.sp-only {
  display: none;
}
dt {
  font-weight: normal;
}
.area {
  padding: 60px 0;
}
@media only screen and (max-width: 1024px) {
  .area {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 599px) {
  .area {
    padding: 40px 0;
  }
}
.txt {
  line-height: 2.3;
}
@media only screen and (max-width: 1024px) {
  .tb>[class^=left-cmn] {
    width: 100%;
  }
  .tb>[class^=right-cmn] {
    width: 100%;
  }
  .tb>.right-cmn01 {
    margin-top: 10px;
  }
  .tb>.right-cmn02 {
    margin-top: 15px;
  }
  .tb>.right-cmn03 {
    margin-top: 20px;
  }
  .tb>.right-cmn {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 599px) {
  [class^=left-cmn] {
    width: 100%;
  }
  [class^=right-cmn] {
    width: 100%;
  }
  .right-cmn01 {
    margin-top: 5px;
  }
  .right-cmn02 {
    margin-top: 10px;
  }
  .right-cmn03 {
    margin-top: 15px;
  }
  .right-cmn {
    margin-top: 20px;
  }
}
.up-fxd-even2>*:nth-child(even) .up-d-flex,
.up-fxd-odd2>*:nth-child(odd) .up-d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.up-left-1200 {
  margin-left: calc(50% - 600px);
}
.up-right-1200 {
  margin-right: calc(50% - 600px);
}
[class*=up-fxd-even]>.up-left-1200:nth-child(even),
[class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 600px);
}
[class*=up-fxd-even]>.up-right-1200:nth-child(even),
[class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 600px);
}
@media only screen and (max-width: 1224px) {
  .up-left-1200 {
    margin-left: 2%;
  }
  .up-right-1200 {
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-left-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media only screen and (max-width: 599px) {
  .up-left-1200 {
    margin-right: 2%;
  }
  .up-right-1200 {
    margin-left: 2%;
  }
  [class*=up-fxd-even]>.up-left-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}
.up-left-1100 {
  margin-left: calc(50% - 550px);
}
.up-right-1100 {
  margin-right: calc(50% - 550px);
}
[class*=up-fxd-even]>.up-left-1100:nth-child(even),
[class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 550px);
}
[class*=up-fxd-even]>.up-right-1100:nth-child(even),
[class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 550px);
}
@media only screen and (max-width: 1122px) {
  .up-left-1100 {
    margin-left: 2%;
  }
  .up-right-1100 {
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-left-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media only screen and (max-width: 599px) {
  .up-left-1100 {
    margin-right: 2%;
  }
  .up-right-1100 {
    margin-left: 2%;
  }
  [class*=up-fxd-even]>.up-left-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}
.up-left-1000 {
  margin-left: calc(50% - 500px);
}
.up-right-1000 {
  margin-right: calc(50% - 500px);
}
[class*=up-fxd-even]>.up-left-1000:nth-child(even),
[class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 500px);
}
[class*=up-fxd-even]>.up-right-1000:nth-child(even),
[class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 500px);
}
@media only screen and (max-width: 1024px) {
  .up-left-1000 {
    margin-left: 2%;
  }
  .up-right-1000 {
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-left-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media only screen and (max-width: 599px) {
  .up-left-1000 {
    margin-right: 2%;
  }
  .up-right-1000 {
    margin-left: 2%;
  }
  [class*=up-fxd-even]>.up-left-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }
  [class*=up-fxd-even]>.up-right-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}
.float-left-cmn {
  float: left;
}
.float-right-cmn {
  float: right;
}
[class*=up-fxd-even]>*:nth-child(even) .float-left-cmn,
[class*=up-fxd-odd]>*:nth-child(odd) .float-left-cmn {
  float: right;
}
[class*=up-fxd-even]>*:nth-child(even) .float-right-cmn,
[class*=up-fxd-odd]>*:nth-child(odd) .float-right-cmn {
  float: left;
}
@media only screen and (max-width: 1024px) {
  .tb .float-left-cmn {
    width: 100%;
    margin: 2% 0;
  }
  .tb .float-right-cmn {
    width: 100%;
    margin: 2% 0;
  }
}
@media only screen and (max-width: 599px) {
  .float-left-cmn {
    width: 100%;
    margin: 2% 0;
  }
  .float-right-cmn {
    width: 100%;
    margin: 2% 0;
  }
}
.gnav .toggle {
  display: block;
  position: fixed;
  width: 42px;
  height: 42px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 999;
  display: none;
}
.gnav .toggle button {
  border-style: inherit;
}
.gnav .bar {
  display: block;
  background: #000;
  height: 2px;
  width: 28px;
  text-indent: 9999px;
  padding: 0;
  top: 50%;
  left: 7px;
  margin-top: -1px;
  position: absolute;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}
.gnav .bar:before {
  display: block;
  content: "";
  background: #000;
  height: 2px;
  width: 28px;
  position: absolute;
  top: -10px;
  left: 0;
}
.gnav .bar:after {
  display: block;
  content: "";
  background: #000;
  height: 2px;
  width: 28px;
  position: absolute;
  top: 10px;
  left: 0;
}
.gnav.action .toggle .bar {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gnav.action .toggle .bar:after,
.gnav.action .toggle .bar:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1024px) {
  .gnav .toggle {
    display: block;
    text-indent: 999px;
  }
}
.g-item {
  text-align: center;
  font-weight: bold;
}
.g-item>a {
  display: block;
  padding: 10px 20px;
}
.pull-box {
  position: relative;
}
.accordionbox {
  position: absolute;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  width: 200px;
}
.accordionbox ul {
  background-color: #fff;
}
.accordionbox li {
  border-bottom: 1px solid #ffa569;
  text-align: center;
}
.accordionbox a {
  padding: 10px;
  display: block;
}
.accordionbox a:hover {
  background-color: rgba(255,102,0,0.29);
}
.g-item.pull:hover .accordionbox {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.gnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(255,255,255,0.7);
}
@media only screen and (max-width: 1024px) {
  .pc-none {
    display: block;
  }
  body.active>.overlay {
    content: "";
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 150;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .gnavinn {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    opacity: 1;
    -webkit-transition: height ease 0.1s, opacity ease 0.4s;
    transition: height ease 0.1s, opacity ease 0.4s;
    padding: 0;
    border: none;
    padding-bottom: 0;
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 250;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .gnav.action .gnavinn {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .g-list li {
    border-bottom: none;
    text-align: left;
  }
  .g-list li a {
    padding: 10px 15px;
    position: relative;
  }
  .g-list li a:after {
    display: block;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
  .g-item.pull>a:after {
    background-image: none;
    content: "+";
    font-weight: bold;
    height: auto;
    right: 11%;
  }
  .accordionbox {
    position: static;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
  .accordionbox a:before {
    content: "└";
    margin-right: 5px;
  }
  .pull-box {
    display: none;
  }
  .g-item.pull>a {
    pointer-events: none;
  }
}
h1.page-ttl {
  font-size: 12px;
  padding: 0 40px 0 3px;
}
.top-image {
  position: relative;
  padding-top: 48%;
}
.top-image .uk-slidenav-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-image .uk-slideshow {
  height: 100% !important;
}
.top-image .uk-slideshow * {
  height: 100% !important;
}
.top-image li>div {
  position: relative;
  display: block;
  width: 100%;
}
.top-image li img {
  width: 100%;
  height: 100% !important;
  font-family: "object-fit: cover; object-position: 50% 50%;";
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.sp-fix-box {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  display: none;
}
.sp-fix-box li {
  width: 50%;
}
.sp-fix-box li * {
  height: 100%;
}
.sp-fix-box a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
}
.sp-fix-box a:before {
  margin-right: 7px;
}
.sp-fix-box .contact a {
  background-color: #f8ce84;
}
.sp-fix-box .contact a:before {
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.sp-fix-box .tel a {
  background-color: #96cfc7;
}
.sp-fix-box .tel a:before {
  content: "\f095";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
@media only screen and (max-width: 599px) {
  .sp-fix-box {
    display: block;
  }
}
[data-element-id] .sp-fix-box {
  display: block;
  position: static;
  width: 400px;
}
.sp-fix-box2 {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  width: 400px;
  background-color: #fef8f1;
  padding: 10px;
  border-radius: 5px;
}
.sp-fix-box2 li:nth-of-type(1) {
  width: 30%;
}
.sp-fix-box2 li:nth-of-type(2) {
  width: 65%;
}
.sp-fix-box2 .contact {
  color: #fff;
}
.sp-fix-box2 .contact a {
  background-color: #f0901a;
  border-radius: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
}
.sp-fix-box2.ab-test .contact a {
  background-color: #00a9e0;
}
.sp-fix-box2 .contact a:before {
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
}
.sp-fix-box2 .tel-btn .text {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.sp-fix-box2 .tel a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
}
.sp-fix-box2.ab-test .tel {
  color: #f7880f;
}
.sp-fix-box2 .tel a:before {
  margin-right: 7px;
  content: "\f095";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
@media only screen and (max-width: 1024px) {
  .sp-fix-box2 .contact a {
    padding: 8px;
  }
  .sp-fix-box2 .contact a:before {
    font-size: 26px;
  }
  .sp-fix-box2 .tel a {
    font-size: 26px;
  }
}
@media only screen and (max-width: 599px) {
  .sp-fix-box2 {
    width: calc(100% - 20px);
    bottom: 10px;
    right: 10px;
  }
}
[data-element-id] .sp-fix-box2 {
  display: block;
  position: static;
  width: 400px;
}
.bread-box li+li:before {
  content: ">";
  display: inline;
  margin: 0 0.5em;
}
.bread-box li {
  line-height: 1.2;
  display: inline;
}
.detail-content h2 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #86b6e4;
  padding: 2%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0 #2d72b2;
}
.detail-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 2%;
  border-bottom: 3px solid #2d72b2;
  background-color: #d0e5f9;
}
.detail-content h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 2%;
  border-left: 3px solid #2d72b2;
}
@media only screen and (max-width: 599px) {
  .detail-content h2,
  .detail-content h3,
  .detail-content h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 599px) {
  .sp-only {
    display: block;
  }
}
[data-element-id].pc-none,
[data-element-id].sp-only {
  display: block;
  border: 1px solid #218055;
  position: relative;
}
[data-element-id].pc-none {
  border: 1px solid #218055;
}
[data-element-id].g-list {
  flex-wrap: wrap;
}
[data-element-id].pc-none:after,
[data-element-id].sp-only:after {
  content: "スマホ用";
  width: 100%;
  text-align: center;
  color: #fff;
  background: #218055;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  box-sizing: content-box;
  border: 1px solid #218055;
}
[data-element-id].accordionbox {
  position: static;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  visibility: visible;
}
[data-element-id].gnavinn {
  padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
