/* ---------------------------
gnav・ハンバーガーメニュー
----------------------------- */

.g-item {
  text-align: center;
  font-weight: bold;

  &>a {
    display: block;
    padding: 10px 20px;
  }
}

.pull-box {
  position: relative;
}

.accordionbox {
  position: absolute;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  width: 200px;

  ul {
    background-color: #fff;
  }

  li {
    border-bottom: 1px solid #ffa569;
    text-align: center;
  }

  a {
    padding: 10px;
    display: block;

    &:hover {
      background-color: #ff66004a;
    }
  }
}

.g-item.pull:hover .accordionbox {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.gnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 1024px) {
  .pc-none {
    display: block;
  }

  body.active>.overlay {
    content: "";
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 150;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .gnavinn {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    opacity: 1;
    -webkit-transition: height ease 0.1s, opacity ease 0.4s;
    transition: height ease 0.1s, opacity ease 0.4s;
    padding: 0;
    border: none;
    padding-bottom: 0;
    background: rgba(255, 255, 255, 1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 250;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .gnav.action .gnavinn {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* ハンバーガーメニュー内 */
  .g-list li {
    border-bottom: none;
    text-align: left;

    a {
      padding: 10px 15px;
      position: relative;

      &:after {
        display: block;
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 50%;
        right: 10%;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
      }
    }
  }

  .g-item.pull>a {
    &:after {
      background-image: none;
      content: "+";
      font-weight: bold;
      height: auto;
      right: 11%;
    }
  }

  .accordionbox {
    position: static;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    width: 100%;

    a {
      &:before {
        content: "└";
        margin-right: 5px;
      }
    }
  }

  .pull-box {
    display: none;
  }

  .g-item.pull>a {
    pointer-events: none;
  }
}

/* ---------------------------
gnav・ハンバーガーメニュー END
----------------------------- */