/* ---------------------------
reset
----------------------------- */

.pc-none,
.sp-only {
  display: none;
}

dt {
  font-weight: normal;
}



/* area */

.area {
  padding: 60px 0;
}

@media only screen and (max-width: 1024px) {
  .area {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 599px) {
  .area {
    padding: 40px 0;
  }
}

.txt {
  line-height: 2.3;
}

/* left right */

@media only screen and (max-width: 1024px) {
  .tb>[class^=left-cmn] {
    width: 100%;
  }

  .tb>[class^=right-cmn] {
    width: 100%;
  }

  .tb>.right-cmn01 {
    margin-top: 10px;
  }

  .tb>.right-cmn02 {
    margin-top: 15px;
  }

  .tb>.right-cmn03 {
    margin-top: 20px;
  }

  .tb>.right-cmn {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 599px) {
  [class^=left-cmn] {
    width: 100%;
  }

  [class^=right-cmn] {
    width: 100%;
  }

  .right-cmn01 {
    margin-top: 5px;
  }

  .right-cmn02 {
    margin-top: 10px;
  }

  .right-cmn03 {
    margin-top: 15px;
  }

  .right-cmn {
    margin-top: 20px;
  }
}

/* 偶数と奇数番目で左右反転No.2 */
.up-fxd-even2>*:nth-child(even) .up-d-flex,
.up-fxd-odd2>*:nth-child(odd) .up-d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* 片方のみブラウザ幅いっぱい（1200px基準） */

.up-left-1200 {
  margin-left: calc(50% - 600px);
}

.up-right-1200 {
  margin-right: calc(50% - 600px);
}

[class*=up-fxd-even]>.up-left-1200:nth-child(even),
[class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 600px);
}

[class*=up-fxd-even]>.up-right-1200:nth-child(even),
[class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 600px);
}

@media only screen and (max-width: 1224px) {
  .up-left-1200 {
    margin-left: 2%;
  }

  .up-right-1200 {
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-left-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 599px) {
  .up-left-1200 {
    margin-right: 2%;
  }

  .up-right-1200 {
    margin-left: 2%;
  }

  [class*=up-fxd-even]>.up-left-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1200:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1200:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1200:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}

/* 片方のみブラウザ幅いっぱい（1100px基準） */

.up-left-1100 {
  margin-left: calc(50% - 550px);
}

.up-right-1100 {
  margin-right: calc(50% - 550px);
}

[class*=up-fxd-even]>.up-left-1100:nth-child(even),
[class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 550px);
}

[class*=up-fxd-even]>.up-right-1100:nth-child(even),
[class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 550px);
}

@media only screen and (max-width: 1122px) {
  .up-left-1100 {
    margin-left: 2%;
  }

  .up-right-1100 {
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-left-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 599px) {
  .up-left-1100 {
    margin-right: 2%;
  }

  .up-right-1100 {
    margin-left: 2%;
  }

  [class*=up-fxd-even]>.up-left-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1100:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1100:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1100:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}

/* 片方のみブラウザ幅いっぱい（1000px基準） */

.up-left-1000 {
  margin-left: calc(50% - 500px);
}

.up-right-1000 {
  margin-right: calc(50% - 500px);
}

[class*=up-fxd-even]>.up-left-1000:nth-child(even),
[class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
  margin-left: 0;
  margin-right: calc(50% - 500px);
}

[class*=up-fxd-even]>.up-right-1000:nth-child(even),
[class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
  margin-right: 0;
  margin-left: calc(50% - 500px);
}

@media only screen and (max-width: 1024px) {
  .up-left-1000 {
    margin-left: 2%;
  }

  .up-right-1000 {
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-left-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
    margin-left: 0;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
    margin-right: 0;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 599px) {
  .up-left-1000 {
    margin-right: 2%;
  }

  .up-right-1000 {
    margin-left: 2%;
  }

  [class*=up-fxd-even]>.up-left-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-left-1000:nth-child(odd) {
    margin-left: 2%;
    margin-right: 2%;
  }

  [class*=up-fxd-even]>.up-right-1000:nth-child(even),
  [class*=up-fxd-odd]>.up-right-1000:nth-child(odd) {
    margin-right: 2%;
    margin-left: 2%;
  }
}

/* ---------------------------
float
----------------------------- */

.float-left-cmn {
  float: left;
}

.float-right-cmn {
  float: right;
}

/* 偶数と奇数番目で左右反転No.3 */
[class*=up-fxd-even]>*:nth-child(even) .float-left-cmn,
[class*=up-fxd-odd]>*:nth-child(odd) .float-left-cmn {
  float: right;
}

[class*=up-fxd-even]>*:nth-child(even) .float-right-cmn,
[class*=up-fxd-odd]>*:nth-child(odd) .float-right-cmn {
  float: left;
}

@media only screen and (max-width: 1024px) {
  .tb {
    .float-left-cmn {
      width: 100%;
      margin: 2% 0;
    }

    .float-right-cmn {
      width: 100%;
      margin: 2% 0;
    }
  }
}

@media only screen and (max-width: 599px) {
  .float-left-cmn {
    width: 100%;
    margin: 2% 0;
  }

  .float-right-cmn {
    width: 100%;
    margin: 2% 0;
  }
}

/* ---------------------------
reset END
----------------------------- */